body {
  font-family: Arial;
  font-size: 1vw;
 	color: black;
  background-color: rgba(192,192,192,0.8);
  background-image: url("Tablett.png");
  background-size: cover;
  background-repeat: repeat-y;
  margin: auto;
  position: absolute;
  width:100%;
  height: auto;
}

.nonsense{ /* Größe */
  margin: auto;
  max-width:1200px
}

h1 { /* Mensameter */
  font-family: Futura;
  font-size: 7vw;
	color: #ee8b33;
  text-transform: uppercase;
  margin-top:8%;
  margin-left: 30%;
}

h2 { /* Speiseplan der Mensa Finkenau */
  font-family: Futura;
	font-size: 1.7vw;
  margin-top:-6%;
  margin-left: 30%;
}

p { /* Standard Text */
  font-family: Arial;
  font-size: 1.3vw;
  margin-top: -5%;
  margin-left: 30%;
}

.mensa {    /* Schriftzugformatierung */
  font-family: Futura;
  color: #ee8b33;
  text-transform: uppercase;
}

.hinweis{ /* auf Servierte */
  font-style: italic;
  color: #3496fd;
  font-size: 1.2vw;
  margin-left: 65.5%;
  margin-top: 0.3%;
}

.erlaeuterungen{ /* Hinweise: leichte Drehung und Neigung auf der Servierte */
  transform:skew(-1deg,-1deg);
  transform: rotate(-1deg);
}

.after::after {   /* Heinweis: Zeilenumbrüche erzwingen */
	content: "\A";
	white-space: pre;
}

.pfeil{ /*beim Hinweis*/
  margin-left: 76%;
  margin-top: -4%;
  transform: rotate(75deg);
}

table { /* Zellen Standards und Tabelleneigenschaften */
  width: 72%;
  margin-left: -19%;
  table-layout: auto;
  border-collapse: collapse;
  border: 0.1vw solid #3c3c3c;
  border-radius: 0.4vw;
  margin-top: 2%;
  margin-left:11%;
  height: 100%;
  min-width: 30%;
  text-align: left;
}

tr#headline { /* erste Zeile */
  background-color: rgba(238,139,51,0.9);
  padding: 0.3vw;
  color: black;
}

table th { /* erste Zeile und erste Spalte */
  background-color: transparent;
  font-weight: bold;
  font-size: 1.1vw;
  width: auto;
  padding: 0.3vw;
  color: black;
}

table th, table td { /* Tabellenlinien */
  border: 1px solid white;
  vertical-align: top;
  padding: 0.3vw;
}

tr {
  background-color: rgba(192,192,192,0.6);
}

.price { /* Preise */
  color: black;
  font-weight: bold;
  text-align: center;
}

i { /* Kommentare in Tabelle */
  color: black;
  text-align: left;
}

.button { /* Bewertung abgeben */
  color: white;
  background-color: rgba(9,127,255,0.7);
  font-size: 1.3vw;
  border: 0.1vw solid white;
  border-radius: 0.4vw;
  cursor: pointer;
  padding: 0.2vw;
  width: 20%;
  margin-left: 63%;
  margin-top: 2%;
}

.button:hover { /* Mouseovereffekt */
  border: 0.1vw solid white;
  border-radius: 0.4vw;
  font-weight: bold;
  font-size: 1.4vw;
  transition-duration: 0.2s;
}

.liste{ /* Zusatzstoffe unten */
  margin-left:29%;
}
