body {
  font-family: Futura;
  font-size: 1vw;
 	color: black;
  background-color: rgba(192,192,192,0.8);
  background-image: url("Tablett.png");
  background-size: cover;

  /* border: 0.1vw solid red; /* nur zum Test*/
  position: absolute;
  width:100%;
  height: auto;
  margin-top:4%;
  margin-left: 30%;
}

h1 {
	font-size: 7vw;
	color: #ee8b33; /* in rgba(238,139,51,0); */
  text-transform: uppercase;
}

h2 {
	font-size: 1.7vw;
  margin-top:-6%;
  margin-bottom: 0%;

}

p {
	font-size: 1.3vw;
  margin-top: -1.4%;
  margin-top: -3%;


}

i {
  color: #1174CC;
  font-size: 1.2vw;
  margin-left: 35%;
  margin-top: -30%;
}

.after::after {
	content: "\A";
	white-space: pre;
}

.mensa {
	color: #ee8b33; /* in rgba(238,139,51,0); */
  text-transform: uppercase;
}

table {
  width: 72%;
  margin-left: -19%;
}
#header tr, #header tr td {
  padding: 0;
  margin: 0;
  height: 179px;
}
#header td {
  width: 33,33%;
}
#header tr td img {
  margin: 0 auto;
}
tr#headline {
  background-color: rgba(238,139,51,0.9);
  color: black;
}
table th {
  background-color: transparent;
  font-weight: bold;
  font-size: 1.1vw;
  width: auto;
}
table th, table td {
  border: 1px solid #fff;
  vertical-align: top;

}
th.date {
  background-color: #c0c2c1;
  color: #fff;
  text-align: left;
}
td.border-none {
  border: 0 none;
}
tr.even {
  background-color: transparent;
}
tr.odd {
  background-color: transparent;
}
tr.highlighted ,
.highlighted {
  background-color: #fadcc0;
  padding: 3px;
  margin: -8px;
}
.category {
/*  width: 190px;*/
}
.description {
/*  width: 450px;*/
}
.price {
/*  width: 55px;*/
  text-align: center;
}
td.icons img {
  float: left;
}


.dish {
  color: red;
  font-size: .9em;
  margin-top: 8px;
  overflow: hidden;
}

.price { /*preis*/
/*  color: #ec6d1e;*/
  color: #000;
  font-weight: bold; }



/*________________________________
.dropdown-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.dropdown {
  background-color:rgba(192,192,192,0.6);
  font-size: 1.3vw;
  color: black;
  width: 20%;
  padding: 0.2vw;
  border: 0.1vw solid #3c3c3c;
  border-radius: 0.2vw;
  cursor: pointer;
  margin-left: 3vw;
  display: inline-block;
  position: relative;


}
.dropdown-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: rgba(192,192,192,0.9);
    transition-duration: 0.2s;
    margin-left: 3vw;
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {

  display: none;
  position: absolute;
  background-color: rgba(192,192,192,0.9);
  width: 20%;
  z-index: 1;
  margin-left: 3vw;

  top: 100%;
  right: 0;
  left: 0;
  padding: 0;
  list-style: none;
}
.li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
}
.dropdown-content a:hover {
      background-color: rgba(238,139,51,0.9);
      transition-duration: 0.2s;
    }
    &[rel="hide"] {
      display: none;
    }
  }
  ___________________________*/

/*Dropdown-Menü*/
.dropdown {
  background-color:rgba(192,192,192,0.6);
  font-size: 1.3vw;
  color: black;
  width: 25%;
  padding: 0.2vw;
  border: 0.1vw solid #3c3c3c;
  border-radius: 0.3vw;
  cursor: pointer;
  margin-left: 3vw;
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none;  /*Removes default style Firefox*/


/*
&:after{ /* Links inside the dropdown  .dropdown-content a
  color: green;
  padding: 0.2vw 0.2vw;
  text-decoration: none;
  display: block;}*/
}


.select-options { /* Dropdown Content (Hidden by Default)*/
  display: none;
  position: absolute;
  background-color: rgba(192,192,192,0.9);
  width: 25%;
  z-index: 1; /* was soll das eigentlich sein?*/
  margin-left: 3vw;
}

/*@include transition(all 0.2s ease-in);
&:after{ /* Links inside the dropdown  .dropdown-content a
  color: yellow;
  padding: 0.2vw 0.2vw;
  text-decoration: none;
  display: block;

}*/
/*
.dropdown-content a:hover { /* Change color of dropdown links on hover
  background-color: rgba(238,139,51,0.9);
  transition-duration: 0.2s;
  color: blue;
}*/
/*
.dropdown-content:hover { /* Show the dropdown menu on hover
  display: block;
  transition-duration: 0.2s;
  margin-left: 3vw;

}*/

.dropdown:hover {  /* Change the the dropdown button when the dropdown content is shown */
  background-color: rgba(192,192,192,0.9);
  margin-left: 3vw;
  color: red;
}

/*
.select {  /* Change the the dropdown button when the dropdown content is shown
  background-color: rgba(192,192,192,0.9);
  margin-left: 3vw;
}*/



/* Button */
.button {
  color: black;
  background-color: rgba(238,139,51,0.9);
  font-size: 1.3vw;
  border: 0.1vw solid white;
  border-radius: 0.4vw;
  cursor: pointer;
  padding: 0.2vw;
  width: 25%;
  margin-left: 27%;
  margin-top: 0%;
}

.button:hover {
  background-color: rgba(192,192,192,0.6);
  border: 0.1vw solid white;
  border-radius: 0.4vw;
  transition-duration: 0.2s;

}


/* Tabelle */
table {
  table-layout: auto;
  border-collapse: collapse;
  border: 0.1vw solid #3c3c3c;
  border-radius: 0.4vw;
  margin-top: 2vw;
  height: 40vw;
  min-width: 30%;
  background-color:rgba(192,192,192,0.6);
}

tr {
  border: 0.1vw solid #3c3c3c;
  border-radius: 0.4vw;
}

td {
  border: 0.1vw solid #3c3c3c;
  border-radius: 0.44vw;
  padding: 0.3vw;
}

th {
  border: 0.1vw solid #3c3c3c;
  border-radius: 0.44vw;
  font-size: 1.5vw;
  background-color: rgba(238,139,51,0.9);
  text-align: left;
  padding: 1vw;
  rowspan:2; /* FUNKTIONIERT NOCH NICHT, ist im html container drin*/
}
/*<div class="dropdown">
  <button class="dropbtn">Was hast du gegessen?</button>
<div class="dropdown-content">
  <a href="#">Essen 1</a>
  <a href="#">Essen 2</a>
  <a href="#">Essen 3</a>
</div>
</div>

<div class="dropdown">
  <button class="dropbtn">ALTWie hat's geschmeckt?</button>
<div class="dropdown-content">
  <a href="#">1 Stern</a>
  <a href="#">2 Sterne</a>
  <a href="#">3 Sterne</a>
  <a href="#">4 Sterne</a>
  <a href="#">5 Sterne</a>
</div>
</div>
*/
